h1 {
  font-family: 'Fontdiner Swanky', cursive;
}

ul {
  list-style: none;
}

body {
  font-family: 'Quicksand', sans-serif;

}

body.Slytherin{
  background-color: green;
  color: silver;
}

body.Gryffindor{
  background-color: red;
  color: gold;
}

body.Hufflepuff{
  background-color: yellow;
  color: black;
}

body.Ravenclaw{
  background-color: blue;
  color: darkgoldenrod;
}
