h1 {
  font-family: 'Fontdiner Swanky', cursive;
  text-align: center;
  font-size: 70px;
}

ul {
  list-style: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  list-style: none;


}

body.Slytherin{
  background-color: green;
  color: silver;
}

body.Gryffindor{
  background-color: red;
  color: gold;
}

body.Hufflepuff{
  background-color: yellow;
  color: black;
}

body.Ravenclaw{
  background-color: blue;
  color: darkgoldenrod;
}

.dropdown{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.pick {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
#crest{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#img{
  padding-top: 10px;
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
}
.info{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 200%;
}
